terraform {
  required_version = ">= 1.15.0"

  required_providers {
    proxmox = {
      source  = "bpg/proxmox"
      version = "= 0.107.0"
    }
  }

  backend "s3" {
    bucket                      = "terraform-state"
    key                         = "core/terraform.tfstate"
    # L'endpoint pointe vers ton nouveau serveur RustFS (via son reverse proxy ou IP)
    endpoints                   = { s3 = "https://terraform-backend.priv.{{ DOMAIN }}" }
    region                      = "us-east-1"
    skip_credentials_validation = true
    skip_metadata_api_check     = true
    skip_region_validation      = true
    skip_requesting_account_id  = true
    use_path_style              = true
  }

}
